body.debug [class*="col-"]{
  height: 150px;
  border: 1px solid black;
}

body.debug [class*="col-"] > .row > [class*="col-"] {
  height: 135px;
}

[class*="col-"] {
  background-color: #ffc0cb;
}

.nested {
  background-color: #f07f80;
  border: 1px solid white;

}

.nest {
  padding: 7px;
}
